{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- form: chcemvediet.apps.inforequests.forms.InforequestForm
 %
{% endcomment %}


{% block title %}{% trans 'inforequests:create:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        <h1>{% trans 'inforequests:create:heading' %}</h1>
        <div class="panel chv-scheme-gray">
          <div class="panel-body">
            <h3 id="{% trans 'inforequests:create:main:anchor' %}">
              <span class="chv-icon-stack chv-icon-lg">
                <i class="chv-icon icon-circle"></i>
                <i class="chv-icon chv-icon-inv chv-icon-half icon-info"></i>
              </span>
              &nbsp;
              {% trans 'inforequests:create:main:heading' %}
            </h3>
            {% include "inforequests/create/texts/main.html" %}
          </div>
        </div>
      </div>
      <div class="col-md-4 chv-pull-right-md chv-above-3-md">
        {% with collapse_id=idgenerator.next %}
          <div class="panel chv-scheme-gray">
            <div class="panel-heading collapsed chv-pointer chv-cursor-auto-md"
                 data-toggle="collapse" data-target="#{{ collapse_id }}">
              <h3 id="{% trans 'inforequests:create:sidebar:anchor' %}">
                <i class="chv-icon icon-down-dir pull-right chv-hidden-md"></i>
                <span class="chv-icon-stack chv-icon-lg">
                  <i class="chv-icon icon-circle"></i>
                  <i class="chv-icon chv-icon-inv chv-icon-half icon-help"></i>
                </span>
                &nbsp;
                {% trans 'inforequests:create:sidebar:heading' %}
              </h3>
            </div>
            <div id="{{ collapse_id }}" class="panel-body collapse chv-block-md chv-height-auto-md">
              {% include "inforequests/create/texts/sidebar.html" %}
            </div>
          </div>
        {% endwith %}
      </div>
      <div class="col-md-8 chv-above-1">
        <div class="form-group">
          <label class="control-label col-sm-3">
            {% trans 'inforequests:create:applicant_label' %}
          </label>
          <div class="col-sm-9">
            {% include "main/snippets/fields/applicant.html" with applicant=user %}
          </div>
        </div>
        {% include "main/forms/form_horizontal.html" %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn chv-btn-inv-green pln-with-tooltip chv-width-full chv-width-auto-sm"
                    type="submit" name="button" value="submit" data-toggle="tooltip"
                    title="{% spaceless %}
                      {% include "inforequests/create/tooltips/submit.txt" %}
                      {% endspaceless %}">
              {% include "main/snippets/icons/chv-diag.html" with class="chv-icon-lg" %}
              &nbsp;
              {% trans 'inforequests:create:submit' %}
            </button>
            <button class="btn btn-default pln-with-tooltip chv-width-full chv-width-auto-sm"
                    type="submit" name="button" value="draft" data-toggle="tooltip"
                    title="{% spaceless %}
                      {% include "inforequests/create/tooltips/draft.txt" %}
                      {% endspaceless %}">
              <i class="chv-icon chv-icon-lg icon-floppy"></i>
              &nbsp;
              {% trans 'inforequests:create:draft' %}
            </button>
            <a class="btn btn-link pull-right pln-with-tooltip"
               href="{% url 'inforequests:mine' %}" data-toggle="tooltip" title="{% spaceless %}
                 {% include "inforequests/create/tooltips/cancel.txt" %}
                 {% endspaceless %}">
              <i class="chv-icon chv-icon-lg icon-cancel"></i>
              {% trans 'inforequests:create:cancel' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
