{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "styleguide/base.html" %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% block heading %}Navbar{% endblock %}
{% block container %}
  {% include "styleguide/navbar/first_brand.html" %}
  {% include "styleguide/navbar/first_search.html" %}
  {% include "styleguide/navbar/first_items.html" %}
  {% include "styleguide/navbar/second_blue_items.html" %}
  {% include "styleguide/navbar/second_gray_items.html" %}
  {% include "styleguide/navbar/second_gray_blue_items.html" %}
  {% include "styleguide/navbar/second_green_items.html" %}
  {% include "styleguide/navbar/second_collapse.html" %}
{% endblock %}
