{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h3>Second navbar &ndash; Collapsible items (collapses for screen-xs)</h3>
  <p>chv-navbar-second</p>
</div>
<div class="sg-specimen">
  {% with collapse_id=idgenerator.next %}
    <nav class="chv-navbar chv-navbar-second">
      <div class="container">
        <a class="chv-navbar-item chv-navbar-toggle collapsed" href="#{{ collapse_id }}"
           data-toggle="collapse">
          <i class="chv-icon chv-icon-lg icon-menu"></i>
        </a>
        <div id="{{ collapse_id }}" class="chv-navbar-items chv-navbar-collapse collapse">
          <a class="chv-navbar-item" href="#">
            <span class="chv-hover-bold" data-content="Inactive">Inactive</span>
          </a>
          <a class="chv-navbar-item active" href="#">
            <span class="chv-hover-bold" data-content="Active">Active</span>
          </a>
          <a class="chv-navbar-item" href="#">
            <i class="chv-icon icon-wrench"></i>
          </a>
        </div>
      </div>
    </nav>
  {% endwith %}
</div>
