{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "admin:admin/index.html" %}


{% block sidebar %}
  {{ block.super }}
  <div style="float: left; width: 100%;">
    <div class="module">
      <table>
        <caption>Misc</caption>
        {% if "poleno.timewarp" in INSTALLED_APPS %}
          <tr>
            <th scope="row"><a href="{% url "admin:timewarp" %}">Timewarp</a></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        {% endif %}
        <tr>
          <th scope="row"><a href="{% url "admin:pages_languages" %}">Pages</a></th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
