{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<h3>Wizard steps</h3>
<p>chv-wizard-steps</p>
<div class="sg-specimen chv-scheme-white">
  <div class="chv-wizard-steps">
    <div class="chv-wizard-steps-text">
      Krok 2 / 4
    </div>
    <div class="chv-wizard-steps-dots">
      <a class="chv-wizard-steps-dot chv-wizard-steps-dot-accessible" href="#"></a>
      <a class="chv-wizard-steps-dot chv-wizard-steps-dot-accessible chv-wizard-steps-dot-current" href="#"></a>
      <a class="chv-wizard-steps-dot" href="#"></a>
      <a class="chv-wizard-steps-dot" href="#"></a>
    </div>
  </div>
</div>
