{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load paper_field paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeal.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeal.refusal.ConfidentialNotConfidentialReason
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %  -- finalize: boolean
 %
{% endcomment %}


{% paragraph before=0 %}
  Ako {% include "inforequests/appeal/papers/refusal/cislo_dovodu.html" %} nesprístupnenia
  informácie bolo uvedené, že žiadaná informácia je utajovanou skutočnosťou.
{% endparagraph %}
{% paragraph after=2 editable=True %}
  Požadovaná informácia nemôže byť utajovanou skutočnosťou, keďže v zmysle § 4 ods. 1 zákona č.
  215/2004 Z. z., <em>„utajovanou skutočnosťou nemôže byť informácia o nezákonnom alebo nesprávnom
  postupe alebo nezákonnom rozhodnutí verejných činiteľov a orgánov verejnej moci, trestnej
  činnosti verejných činiteľov, nehospodárnom, neefektívnom a neúčelnom nakladaní s verejnými
  prostriedkami, závažnom ohrození alebo poškodení životného prostredia, života a zdravia,
  platových náležitostiach, hmotnom zabezpečení a hmotných výhodách verejných činiteľov.“</em>
  {% paper_field step.confidential_not_confidential_reason %}
{% endparagraph %}
