{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load paper_field paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeal.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeal.refusal.OtherReasonValidReason
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %  -- finalize: boolean
 %
{% endcomment %}


{% paragraph before=0 after=2 editable=True %}
  Ako {% include "inforequests/appeal/papers/refusal/cislo_dovodu.html" %} nesprístupnenia
  informácie bolo uvedené, že{% paper_field step.other_reason_valid_reason %}
{% endparagraph %}
