{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load active yes from poleno.utils %}
{% load page page_active from poleno.pages %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<a class="chv-navbar-item {{ request|page_active:'sk:/o-projekte,en:/about'|yes:"active" }}"
   href="{% page 'sk:/o-projekte' 'en:/about' %}">
  <span class="chv-hover-bold" data-content="{% trans 'main:menu:about' %}">
    {% trans 'main:menu:about' %}
  </span>
</a>
<a class="chv-navbar-item {{ request|page_active:'sk:/podporte-nas,en:/support-us'|yes:"active" }}"
   href="{% page 'sk:/podporte-nas' 'en:/support-us' %}">
  <span class="chv-hover-bold" data-content="{% trans 'main:menu:support-us' %}">
    {% trans 'main:menu:support-us' %}
  </span>
</a>

<a class="chv-navbar-item {{ request|active:'inforequests'|yes:"active" }}"
   href="{% url user.is_authenticated|yesno:'inforequests:mine,inforequests:index' %}">
  <span class="chv-hover-bold" data-content="{% trans 'main:menu:inforequests' %}">
    {% trans 'main:menu:inforequests' %}
  </span>
</a>
<a class="chv-navbar-item {{ request|active:'obligees'|yes:"active" }}"
   href="{% url 'obligees:index' %}">
  <span class="chv-hover-bold" data-content="{% trans 'main:menu:obligees' %}">
    {% trans 'main:menu:obligees' %}
  </span>
</a>
