{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeal.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeal.refusal.BusinessSecretFallbackReason
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %
{% endcomment %}


<h4>Obchodné tajomstvo</h4>
{% include "inforequests/appeal/texts/refusal/business_secret_fallback_reason_alert.html" %}
<p>
  Označili ste, že žiadaná informácia spĺňa súčasne všetkých päť znakov obchodného tajomstva
  a netýka sa používania verejných prostriedkov. Inštitúcia má pravdepodobne pravdu a žiadanú
  informáciu sprístupneniť nemôže. Na záver odvolania inštitúciu požiadame, aby informáciu
  sprístupnila s vyčierneným obchodným tajomstvom.
</p>
<p>
  Ak si myslíte, že napriek tomu je nesprístupnenie neoprávnené, skúste zdôvodniť, prečo by
  inštitúcia mala žiadanú informáciu sprístupniť v plnej nevyčiernenej podobe. Konzultácia
  s právnikom alebo nahliadnutie do príručky a zákona môže pomôcť.
</p>
<p>
  {% include "main/forms/field.html" with field=step.business_secret_fallback %}
</p>
