{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load squeeze from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeal.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeal.refusal.BusinessSecretPublicFunds
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %
{% endcomment %}


<h4>Obchodné tajomstvo</h4>
<p>
  Ako
  {% filter squeeze %}
    {% include "inforequests/appeal/texts/refusal/cislo_dovodu.html" %}
  {% endfilter %},
  prečo informácia nebola sprístupnená, ste uviedli, že informáciu inštitúcia považuje za obchodné
  tajomstvo.
</p>
<p>
  Porušením alebo ohrozením obchodného tajomstva nie je najmä sprístupnenie informácie ktorá sa
  získala za verejné prostriedky, alebo sa týka používania verejných prostriedkov, nakladania
  s majetkom štátu, majetkom obce, majetkom vyššieho územného celku alebo majetkom právnických osôb
  zriadených zákonom, na základe zákona alebo nakladania s finančnými prostriedkami Európskej únie.
</p>
<p>
  Súvisí vami žiadaná informácia s vyššie uvedeným?
</p>
