{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeal.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeal.refusal.CopyrightReason
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %
{% endcomment %}


<h4>Autorské právo</h4>
{% include "inforequests/appeal/texts/refusal/copyright_reason_alert.html" %}
<p>
  Ako {% include "inforequests/appeal/texts/refusal/cislo_dovodu.html" %} nesprístupnenia
  informácie bolo uvedené, že žiadaná informácia podlieha ochrane podľa autorského práva.
  Ak sa domnievate, že informácia nepodlieha ochrane autorského práva, doplňte nižšie uvedené
  odvolanie.
</p>
