{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/snippets/alerts/warning.html" %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeal.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeal.refusal.DoesNotProvideFallbackReason
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %
{% endcomment %}


{% block message %}
  Ak inštitúcia dôveryhodne odôvodnila, že informáciu naozaj neposkytuje, odvolanie nemá zmysel
  podávať.
{% endblock %}
