{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeal.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeal.refusal.DoesNotCreateReason
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %  -- rozklad: boolean
 %  -- fiktivne: boolean
 %  -- not_at_all: boolean
 %
{% endcomment %}


<h4>Informáciu nevytvára</h4>
{% include "inforequests/appeal/texts/refusal/does_not_create_reason_alert.html" %}
<p>
  Ako {% include "inforequests/appeal/texts/refusal/cislo_dovodu.html" %} nesprístupnenia
  informácie bolo uvedené, že inštitúcia žiadanú informáciu nevytvára.
</p>
<p>
  Podľa platnej legislatívy inštitúcie, na ktoré sa vzťahuje infozákon, nemajú povinnosť vytvárať
  informácie, viď
  <a href="http://wwwold.justice.sk/kop/pk/2005/pk05016_03.pdf">
    Správa ministra spravodlivosti o výklade niektorých aspektov infozákona
  </a>.
  Zverejneňované sú len tie informácie, ktorými už inštitúcie disponujú. Ak sa aj napriek tomu
  domnievate, že inštitúcia požadovanú informáciu už vytvorenú má, doplňte nižšie uvedené
  odvolanie.
</p>
