{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load page from poleno.pages %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="chv-above-1"></div>
<div class="chv-scheme-gray chv-bellow-1-half">
  <div class="container">
    <div class="row">
      <div class="col-md-7 chv-above-1">
        <h3 id="{% trans 'main:footer:partners:anchor' %}">
          {% trans 'main:footer:partners:heading' %}
        </h3>
        <div class="chv-height-3">
          <div class="chv-aspect chv-aspect-parners">
            <div class="chv-aspect-inner chv-justify-all">
              {% include "main/snippets/footer/partners.html" %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 chv-above-1">
        <h3 id="{% trans 'main:footer:donors:anchor' %}">
          {% trans 'main:footer:donors:heading' %}
        </h3>
        <div>
          <a class="btn chv-btn-gray" href="{% page "/projekt-podporili/" %}">
            {% trans 'main:footer:donors:show' %}
          </a>
          <a class="btn chv-btn-blue" href="{% page "/podporte-nas/" %}">{% trans 'main:footer:donate' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chv-scheme-inv-gray chv-above-half">
  <div class="container">
    <p class="pull-right">
      &emsp;
      {% include "main/snippets/footer/social.html" %}
    </p>
    <p class="small">
      <b>chcemvediet.sk © 2015</b>
      <span class="chv-hidden chv-inline-sm">|</span>
      <span class="chv-hidden-sm"><br></span>
      {% include "main/snippets/footer/links.html" %}
      <span class="chv-hidden chv-inline-md">|</span>
      <span class="chv-hidden-md"><br><br></span>
      Developed by
      <a href="http://www.poleno-solutions.sk/"><i class="chv-icon icon-poleno"></i></a>
    </p>
  </div>
</div>
