{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load url from poleno.utils %}
{% load anonymized from chcemvediet.anonymization %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- action: chcemvediet.apps.inforequests.models.Action
 %  -- print_id: string
 %  -- forloop
 %
{% endcomment %}


{% if forloop.last and not inforequest.closed and not inforequest.has_undecided_emails and not inforequest|anonymized %}
  {% if action.can_applicant_snooze %}
    {% with modal_id=idgenerator.next %}
      <button class="btn btn-default pln-ajax pln-ajax-modal-once pln-with-tooltip"
              type="button" action="{% url 'inforequests:snooze' action=action %}"
              data-type="html" data-target="#{{ modal_id }}"
              data-fail-target="#ajax-fail-modal" data-toggle="tooltip"
              title="{% spaceless %}
                {% include "inforequests/detail/tooltips/snooze.txt" %}
                {% endspaceless %}">
        {% trans 'inforequests:detail:action:snooze' %}
      </button>
      <span id="{{ modal_id }}" class="modal pln-ajax-operations fade"
            data-fail-target="#ajax-fail-modal"></span>
    {% endwith %}
  {% endif %}
{% endif %}

{% if forloop.last and not inforequest.closed and not inforequest.has_undecided_emails and not inforequest|anonymized %}
  {% if branch.can_add_clarification_response %}
    <a class="btn btn-default pln-with-tooltip" data-toggle="tooltip"
       href="{% url 'inforequests:clarification_response' branch=branch %}"
       title="{% spaceless %}
         {% include "inforequests/detail/tooltips/clarification_response.txt" %}
         {% endspaceless %}">
      {% trans 'inforequests:detail:action:clarification_response' %}
    </a>
  {% endif %}
{% endif %}

{% if forloop.last and not inforequest.closed and not inforequest.has_undecided_emails and not inforequest|anonymized %}
  {% if branch.can_add_appeal %}
    <a class="btn btn-default pln-with-tooltip" data-toggle="tooltip"
       href="{% url 'inforequests:appeal' branch=branch %}"
       title="{% spaceless %}
         {% include "inforequests/detail/tooltips/appeal.txt" %}
         {% endspaceless %}">
      {% trans 'inforequests:detail:action:appeal' %}
    </a>
  {% endif %}
{% endif %}

{% if action.content %}
  <button class="btn btn-link pln-print" type="button" data-target="#{{ print_id }}"
          title="{% trans 'inforequests:detail:action:print' %}">
    <i class="chv-icon icon-print"></i>
  </button>
{% endif %}
