{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "styleguide/base.html" %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% block heading %}Alerts{% endblock %}
{% block content %}
  {% include "styleguide/alerts/alert.html" with class="chv-alert-info"    tpl="main/snippets/alerts/info.html" %}
  {% include "styleguide/alerts/alert.html" with class="chv-alert-success" tpl="main/snippets/alerts/success.html" %}
  {% include "styleguide/alerts/alert.html" with class="chv-alert-warning" tpl="main/snippets/alerts/warning.html" %}
  {% include "styleguide/alerts/alert.html" with class="chv-alert-error"   tpl="main/snippets/alerts/error.html" %}
  {% include "styleguide/alerts/alert.html" with class="chv-alert-debug"   tpl="main/snippets/alerts/debug.html" %}
{% endblock %}
