{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/full_width.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- q: string
 %
{% endcomment %}


{% block title %}{% trans 'main:search:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="chv-scheme-inv-blue">
    <div class="container text-center chv-bellow-1">
      {% include "main/snippets/search.html" %}
    </div>
  </div>

  {% if SEARCH_API_KEY %}
    <div class="container chv-above-1 chv-bellow-1">
      <script async src="https://cse.google.com/cse.js?cx={{ SEARCH_API_KEY|urlencode }}"></script>
      <div class="gcse-searchresults-only"></div>
    </div>
  {% endif %}
{% endblock %}
