{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load page from poleno.pages %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<li>
  <a href="{% page "/podmienky-pouzivania/" %}">
    <i class="chv-icon chv-icon-li icon-hammer chv-color-blue-l"></i>
    Podmienky
  </a>
</li>
<li>
  <a href="{% page "/faq/" %}">
    <span class="chv-icon-stack chv-icon-li">
      <i class="chv-icon icon-circle chv-color-blue-l"></i>
      <i class="chv-icon chv-icon-half chv-icon-inv icon-help"></i>
    </span>
    FAQ
  </a>
</li>
<li>
  <a href="{% page "/o-projekte/" %}#kto-je-za-tym">
    <i class="chv-icon chv-icon-li icon-user chv-color-blue-l"></i>
    Kto je za tým?
  </a>
</li>
<li>
  <a href="{% page "/podporte-nas/" %}">
    <i class="chv-icon chv-icon-li icon-euro chv-color-blue-l"></i>
    Podporte nás
  </a>
</li>
