{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load page from poleno.pages %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<h2 id="{% trans 'main:homepage:funding:anchor' %}">
  {% trans 'main:homepage:funding:heading' %}
</h2>
<div class="panel chv-scheme-gray">
  <div class="panel-body">
    {% include "main/homepage/texts/funding.html" %}
    <div class="chv-above-1 chv-bellow-1">
      <a class="btn chv-btn-blue" href="{% page "/podporte-nas/" %}">{% trans 'main:homepage:funding:donate' %}</a>
    </div>
  </div>
</div>
