{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load lorem yes from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- error: boolean
 %
{% endcomment %}


<div class="form-group {{ error|yes:"has-error" }}">
  <label class="control-label col-sm-3">Checkboxes</label>
  <div class="col-sm-9">
    <div class="checkbox">
      <label><input type="checkbox">{% lorem 3 %}</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">Second</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">Third</label>
    </div>
    {% if error %}
      <span class="help-block">Error text. Lorem ipsum dolor sit.</span>
    {% endif %}
  </div>
</div>
