{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load lorem yes from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- help: boolean
 %  -- error: boolean
 %
{% endcomment %}


<div class="form-group {{ error|yes:"has-error" }}">
  <label class="control-label col-sm-3">Composite input</label>
  <div class="col-sm-9">
    <div class="pln-composite-text">{% spaceless %}
      {% include "styleguide/forms/composite_content.html" %}
    {% endspaceless %}</div>
    {% if help %}
      <span class="help-block">Help text. {% lorem 3 %}</span>
    {% endif %}
    {% if error %}
      <span class="help-block">Error text. Lorem ipsum dolor sit.</span>
    {% endif %}
  </div>
</div>
