{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load lorem yes from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- help: boolean
 %  -- error: boolean
 %
{% endcomment %}


<div class="form-group {{ error|yes:"has-error" }}">
  <label class="control-label col-sm-3">Editable span</label>
  <div class="col-sm-9">
    <div class="panel chv-scheme-gray">
      <div class="panel-body">
        <div class="pln-editable-container">
          {% lorem 3 %}
          <span class="pln-with-tooltip pln-tooltip-permanent chv-tooltip-error"
                title="{{ error|yes:"Error text. Lorem ipsum dolor sit." }}">
            <span class="pln-editable-span" contenteditable="true"></span>
          </span>
          {% lorem 3 %}
        </div>
      </div>
    </div>
    {% if help %}
      <span class="help-block">Help text. {% lorem 3 %}</span>
    {% endif %}
  </div>
</div>
