{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- class: string
 %
{% endcomment %}


<p class="text-center">{{ class }}</p>
<div class="sg-specimen chv-scheme-white">
  <div class="form-horizontal {{ class }}">
    {% include "styleguide/forms/nonfielderrors.html" %}
    {% include "styleguide/forms/inputbox.html" %}
    {% include "styleguide/forms/inputbox.html" with help=1 %}
    {% include "styleguide/forms/inputbox.html" with help=1 error=1 %}
    {% include "styleguide/forms/inputbox_addons.html" %}
    {% include "styleguide/forms/inputbox_addons.html" with error=1 %}
    {% include "styleguide/forms/textarea.html" %}
    {% include "styleguide/forms/textarea.html" with error=1 %}
    {% include "styleguide/forms/select.html" %}
    {% include "styleguide/forms/select.html" with error=1 %}
    {% include "styleguide/forms/radio.html" %}
    {% include "styleguide/forms/checkbox.html" %}
    {% include "styleguide/forms/radio.html" with error=1 %}
    {% include "styleguide/forms/checkbox.html" with error=1 %}
    {% include "styleguide/forms/composite.html" %}
    {% include "styleguide/forms/composite.html" with error=1 %}
    {% include "styleguide/forms/editable.html" %}
    {% include "styleguide/forms/editable.html" with error=1 %}
    {% include "styleguide/forms/attachments.html" with count=3 %}
    {% include "styleguide/forms/attachments.html" with count=3 error=1 %}
    {% include "styleguide/forms/attachments.html" with count=10 %}
    {% include "styleguide/forms/applicant.html" %}
    {% include "styleguide/forms/social.html" %}
    {% include "styleguide/forms/buttons.html" %}
  </div>
</div>
