{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load yes from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- error: boolean
 %
{% endcomment %}


{% with field_id=idgenerator.next %}
  <div class="form-group {{ error|yes:"has-error" }}">
    <label class="control-label col-sm-3">Radio buttons</label>
    <div class="col-sm-9">
      <div class="radio">
        <label><input type="radio" name="{{ field_id }}">First</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="{{ field_id }}">Second</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="{{ field_id }}">Third</label>
      </div>
      {% if error %}
        <span class="help-block">Error text. Lorem ipsum dolor sit.</span>
      {% endif %}
    </div>
  </div>
{% endwith %}
