{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- class: string
 %  -- objects: list
 %
{% endcomment %}


{% block table %}
  <div class="chv-table {{ class }} chv-bellow-1">
    <div class="chv-colgroup">
      <div class="chv-col chv-width-4"></div>
      <div class="chv-col chv-width-4"></div>
      <div class="chv-col chv-width-2"></div>
      <div class="chv-col chv-width-2"></div>
    </div>
    <div class="chv-thead">
      <div class="chv-td">{% trans 'inforequests:mine:subject' %}</div>
      <div class="chv-td">{% trans 'inforequests:mine:obligee' %}</div>
      <div class="chv-td">{% trans 'inforequests:mine:date' %}</div>
      <div class="chv-td">{% trans 'inforequests:mine:status' %}</div>
    </div>
    <div class="chv-tbody">
      {% for object in objects %}
        {% with collapse_id=idgenerator.next %}
          <div class="chv-tr-collapse collapsed" data-toggle="collapse"
               data-target="#{{ collapse_id }}">
            {% block collapse-actions %}{% endblock %}
            <i class="chv-icon icon-down-dir pull-right"></i>
            {% block collapse %}{% endblock %}
          </div>
          <a id="{{ collapse_id }}" class="chv-tr collapse" href="{% block href %}{% endblock %}">
            <div class="chv-td chv-hidden chv-tablecell-sm">
              {% block subject %}{% endblock %}
            </div>
            <div class="chv-td">
              <div class="chv-indent">
                <i class="chv-icon chv-icon-li icon-building"></i>
                {% block obligee %}{% endblock %}
              </div>
            </div>
            <div class="chv-td">
              <div class="chv-indent chv-nowrap">
                <i class="chv-icon chv-icon-li icon-calendar"></i>
                {% block date %}{% endblock %}
              </div>
            </div>
            <div class="chv-td">
              {% block actions %}{% endblock %}
              <div class="chv-indent chv-nowrap">
                {% block status %}{% endblock %}
                &emsp;
              </div>
            </div>
          </a>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
