{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load yes from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.obligee_action.ObligeeActionWizard
 %  -- step: chcemvediet.apps.inforequests.forms.obligee_action.ObligeeActionStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- email: poleno.mail.models.Message
 %
{% endcomment %}


{% with collapse_id=idgenerator.next %}
  <div class="panel panel-default">
    <div class="panel-heading chv-pointer" data-toggle="collapse"
         data-target="#{{ collapse_id }}">
      <h4>
        <i class="chv-icon icon-down-dir pull-right"></i>
        {% trans 'inforequests:obligee_action:email:email:heading' %}
      </h4>
    </div>
    <div id="{{ collapse_id }}" class="panel-collapse collapse {{ step.is_first|yes:"in" }}">
      <div class="panel-body panel-body-max-height">
        <div class="row">
          <p class="col-sm-3 chv-dense">{% trans 'inforequests:obligee_action:email:subject' %}:</p>
          <p class="col-sm-9 chv-semidense">{{ email.subject }}</p>
        </div>
        <div class="row">
          <p class="col-sm-3 chv-dense">{% trans 'inforequests:obligee_action:email:from' %}:</p>
          <p class="col-sm-9 chv-semidense">{{ email.from_formatted }}</p>
        </div>
        <div class="row">
          <p class="col-sm-3 chv-dense">{% trans 'inforequests:obligee_action:email:to' %}:</p>
          <p class="col-sm-9 chv-semidense">{% include "inforequests/obligee_action/email-recipients.html" %}</p>
        </div>
        <div class="row">
          <p class="col-sm-3 chv-dense">{% trans 'inforequests:obligee_action:email:processed' %}:</p>
          <p class="col-sm-9 chv-semidense">{{ email.processed|date:'j. F Y' }}</p>
        </div>
        {% if email.attachments %}
          <div class="row">
            <p class="col-sm-3 chv-dense">{% trans 'inforequests:obligee_action:email:attachments' %}:</p>
            <div class="col-sm-9 chv-semidense">{% include "inforequests/obligee_action/email-attachments.html" %}</div>
          </div>
        {% endif %}
        <p class="chv-preline">{{ email.text }}</p>
      </div>
    </div>
  </div>
{% endwith %}
