{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest_page: django.core.paginator.Paginator(chcemvediet.apps.inforequests.models.Inforequest.objects)
 %
{% endcomment %}


{% block title %}{% trans 'inforequests:index:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'inforequests:index:heading' %}</h1>
  {% include "inforequests/index/texts/index.html" %}
  {% if inforequest_page %}
    {% include "inforequests/index/published.html" with published_inforequests=inforequest_page.object_list %}
    {% include "main/snippets/paging.html" with page=inforequest_page %}
  {% else %}
    {% include "inforequests/index/texts/published_inforequests_empty.html" %}
  {% endif %}
{% endblock %}
