{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load method with call from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- name: string
 %  -- textinput: string
 %  -- attachments: [poleno.attachments.models.Attachment]
 %  -- funcs.upload_url: function
 %  -- funcs.download_url: function
 %
{% endcomment %}


<div class="pln-attachments" data-field="#id_{{name}}">
  {{ textinput }}
  <div>
    <div class="pln-attachments-controls">
      <div class="btn btn-default pln-attachments-btn">
        <i class="chv-icon chv-icon-lg icon-attach"></i>
        &nbsp;
        {% trans 'attachments:widget:browse' %}
        <input type="file" name="files" multiple="multiple" data-url="{{ funcs|method:"upload_url"|call }}">
      </div>
    </div>
    <div class="pln-attachments-skel">
      <div class="pln-attachment" data-attachment="">
        <a href=""></a>
        <button type="button" class="pln-attachment-del"><i class="chv-icon icon-cancel"></i></button>
      </div>
    </div>
    <div class="pln-attachments-list">
      {% for attachment in attachments %}
        <div class="pln-attachment" data-attachment="{{ attachment.pk }}">
          <a href="{{ funcs|method:"download_url"|with:attachment|call }}">{{ attachment.name }}</a>
          <button type="button" class="pln-attachment-del"><i class="chv-icon icon-cancel"></i></button>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="pln-attachments-progress">
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
  </div>
  <div class="pln-attachments-error">
    {% with message_template="attachments/texts/error.html" hide=True %}
      {% include "main/snippets/alerts/error.html" %}
    {% endwith %}
  </div>
</div>
