{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "wizards/wizard.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.wizards.wizard.Wizard
 %  -- step: chcemvediet.apps.wizards.wizard.PrintStep
 %
{% endcomment %}


{% block content %}
  {% with print_id=idgenerator.next %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block body %}
  {{ block.super }}
  <div class="chv-paper">
    <div id="{{ print_id }}">
      {{ step.print_content }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
  {% block footer-print %}
    <button type="button" class="btn btn-default pln-print" data-target="#{{ print_id }}">
      {% block footer-print-label %}
        <i class="chv-icon chv-icon-lg icon-print"></i>
        &nbsp;
        {% trans 'wizards:wizard:print' %}
      {% endblock %}
    </button>
  {% endblock %}
{% endblock %}
