{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}


<div class="chv-bar chv-bar-blue">
  <div class="chv-bar-icon">
    {% include "main/snippets/icons/chv-horiz.html" %}
  </div>
  <div class="chv-bar-heading">
    {% trans 'inforequests:detail:mainbranch:heading' %}
  </div>
</div>
<div class="chv-above-1">
  {% with branch=inforequest.main_branch %}
    {% for action in branch.actions %}
      {% include "inforequests/detail/action/main.html" %}
    {% endfor %}
  {% endwith %}
</div>
