{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load yes no from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- forloop
 %
{% endcomment %}


{% with collapse_id=idgenerator.next %}
  <div class="chv-indent">
    <i class="chv-icon chv-icon-li chv-icon-lg chv-icon-flip-vertical icon-forward chv-color-blue-ll"></i>
    <div class="chv-bar chv-bar-blue {{ forloop.first|no:"collapsed" }} chv-pointer"
         data-toggle="collapse" data-target="#{{ collapse_id }}">
      <div class="chv-bar-icon">
        <i class="chv-icon icon-building"></i>
      </div>
      <div class="chv-bar-control">
        <i class="chv-icon icon-down-dir"></i>
      </div>
      <div class="chv-bar-text">
        {% trans 'inforequests:detail:branch:sub:heading' %}<br>
        <span class="chv-color-gray">
          {{ branch.historicalobligee.name }}
        </span>
      </div>
    </div>
    <div id="{{ collapse_id }}" class="collapse {{ forloop.first|yes:"in"}}">
      {% for action in branch.actions %}
        {% include "inforequests/detail/action/main.html" %}
      {% endfor %}
    </div>
  </div>
{% endwith %}
