{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% block panel-bottom %}
  <div class="chv-eq-col chv-eq-col-border-last chv-border-gray-ll">
    <div class="text-center chv-above-1-md">
      {% block button %}
        <a class="btn btn-default chv-width-full chv-width-auto-sm {% block button-class %}{% endblock %}"
           href="{% block button-href %}{% endblock %}">
          <i class="chv-icon {% block button-icon %}{% endblock %}"></i>
          &nbsp;
          {% block botton-text %}{% endblock %}
        </a>
      {% endblock %}
    </div>
  </div>
{% endblock %}
