{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- pending_inforequests: [chcemvediet.apps.inforequests.models.Inforequest]
 %  -- drafts: [chcemvediet.apps.inforequests.models.InforequestDraft]
 %  -- successful_inforequests: [chcemvediet.apps.inforequests.models.Inforequest]
 %  -- unsuccessful_inforequests: [chcemvediet.apps.inforequests.models.Inforequest]
 %
{% endcomment %}


{% with undecided_emails_count=user.profile.undecided_emails_count %}
  <div class="chv-eq-rows chv-above-1 chv-bellow-1">
    <div class="chv-eq-row chv-hidden chv-tablerow-sm">
      {% include "inforequests/mine/panels/create_top.html" %}
      {% if undecided_emails_count %}
        {% include "inforequests/mine/panels/email_top.html" %}
      {% elif pending_inforequests %}
        {% include "inforequests/mine/panels/smail_top.html" %}
      {% else %}
        {% include "inforequests/mine/panels/nomail_top.html" %}
      {% endif %}
      {% include "inforequests/mine/panels/archive_top.html" %}
    </div>
    <div class="chv-eq-row">
      {% include "inforequests/mine/panels/create_bottom.html" %}
      {% if undecided_emails_count %}
        {% include "inforequests/mine/panels/email_bottom.html" %}
      {% elif pending_inforequests %}
        {% include "inforequests/mine/panels/smail_bottom.html" %}
      {% else %}
        {% include "inforequests/mine/panels/nomail_bottom.html" %}
      {% endif %}
      {% include "inforequests/mine/panels/archive_bottom.html" %}
    </div>
  </div>
{% endwith %}
