{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% block title %}{% trans 'accounts:profile:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'accounts:profile:heading' %}</h1>
  <div class="row">
    <p class="col-sm-3 text-right">{% trans 'accounts:profile:name' %}:</p>
    <p class="col-sm-9">{{ user.get_full_name }}</p>
  </div>
  <div class="row">
    <p class="col-sm-3 text-right">{% trans 'accounts:profile:email' %}:</p>
    <p class="col-sm-9">{{ user.email }}</p>
  </div>
  <div class="row">
    <p class="col-sm-3 text-right">{% trans 'accounts:profile:street' %}:</p>
    <p class="col-sm-9">{{ user.profile.street }}</p>
  </div>
  <div class="row">
    <p class="col-sm-3 text-right">{% trans 'accounts:profile:city' %}:</p>
    <p class="col-sm-9">{{ user.profile.city }}</p>
  </div>
  <div class="row">
    <p class="col-sm-3 text-right">{% trans 'accounts:profile:zip' %}:</p>
    <p class="col-sm-9">{{ user.profile.zip }}</p>
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9">
      <a class="btn btn-default" href="{% url 'account_change_password' %}">
        {% trans 'accounts:profile:change_password' %}
      </a>
      <a class="btn btn-default" href="{% url 'account_email' %}">
        {% trans 'accounts:profile:manage_emails' %}
      </a>
      <a class="btn btn-default" href="{% url 'socialaccount_connections' %}">
        {% trans 'accounts:profile:manage_connections' %}
      </a>
      {% if user.invitationsupply.can_use_invitations %}
        <a class="btn btn-default" href="{% url 'invitations:invite' %}">
          {% trans 'accounts:profile:invitations' %}
        </a>
      {% endif %}
      <a class="btn btn-default" href="{% url 'accounts:settings' %}">
        {% trans 'accounts:profile:settings' %}
      </a>
    </div>
  </div>
{% endblock %}
