{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- login_url: string (optional)
 %  -- signup_url: string (optional)
 %
{% endcomment %}


<p>
  Registrácia je potrebná kvôli Vášmu pohodliu a kvôli potrebným formalitám:
</p>
<ul>
  <li>
    Ku každej žiadosti o informáciu je potrebné uviesť poštovú adresu
  </li>
  <li>
    V prípade zamietnutia žiadosti Vám úrad pošle písomné rozhodnutie, nie email
  </li>
  <li>
    Ak budete posielať odvolanie, to musí byť tiež písomné (áno, na papieri - my sme si to
    nevymysleli)
  </li>
</ul>
