{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- q: string
 %
{% endcomment %}


<div class="chv-above-2 chv-maxwidth-500 center-block">
  <h1>{% trans 'main:snippets:search:heading' %}</h1>
  <form action="{% url 'search' %}" method="get">
    <div class="input-group">
      <input class="form-control" type="text" name="q" value="{{ q }}" autocomplete="off"
             placeholder="{% trans 'main:snippets:search:placeholder' %}">
      <span class="input-group-btn">
        <button class="btn chv-btn-plain" type="submit">
          <i class="chv-icon icon-search chv-color-blue"></i>
        </button>
      </span>
    </div>
  </form>
</div>
