{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- form: django.forms.Form
 %
{% endcomment %}


{% block non-field-errors %}
  {% if form.non_field_errors %}
    <div class="form-group has-error">
      <div class="col-sm-9 col-sm-offset-3">
        {% for error in form.non_field_errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block fields %}
  {% for field in form %}
    {% block field %}
      {% include "main/forms/field.html" %}
    {% endblock %}
  {% endfor %}
{% endblock %}
