{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "inforequests/clarification_response/wizard.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.clarification_response.ClarificationResponseWizard
 %  -- step: chcemvediet.apps.inforequests.forms.clarification_response.Main
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %
{% endcomment %}


{% block body-form %}
  <div class="form-group">
    <label class="control-label col-sm-3">
      {% trans 'inforequests:clarification_response:applicant_label' %}
    </label>
    <div class="col-sm-9">
      {% include "main/snippets/fields/applicant.html" with applicant=inforequest.applicant %}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">
      {% trans 'inforequests:clarification_response:obligee' %}
    </label>
    <div class="col-sm-9">
      {% include "main/snippets/fields/obligee.html" with obligee=branch.obligee %}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">
      {% trans 'inforequests:clarification_response:obligee_email' %}
    </label>
    <div class="col-sm-9 form-control-static">
      {% for name, address in branch.collect_obligee_emails %}
        {{ address }}<br>
      {% empty %}
        <span class="text-danger">{% trans 'inforequests:clarification_response:no_email' %}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">
      {% trans 'inforequests:clarification_response:subject' %}
    </label>
    <div class="col-sm-9 form-control-static">
      {% include "inforequests/clarification_response/forms/subject.txt" %}
    </div>
  </div>
  {{ block.super }}
{% endblock %}

{% block footer-finish-label %}
  <i class="chv-icon chv-icon-lg icon-mail"></i>
  &nbsp;
  {% trans 'inforequests:clarification_response:submit' %}
{% endblock %}
