{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- widget_attrs: {string -> string}
 %  -- inputs: [(input_attrs, obligee), ...]
 %      -- input_attrs: {string -> string}
 %      -- obligee: chcemvediet.apps.obligees.models.Obligee | None
 %  -- skel_attrs: {string -> string}
 %
{% endcomment %}


<div {% for k, v in widget_attrs.items %}{{ k }}="{{ v }}" {% endfor %}>
  <div class="chv-obligee-widget-inputs">
    {% for input_attrs, obligee in inputs %}
      {% include "obligees/widgets/obligee_widget_input.html" with allow_delete=True %}
    {% endfor %}
  </div>
  <div class="chv-obligee-widget-skel">
    {% with input_attrs=skel_attrs obligee=None allow_delete=True %}
      {% include "obligees/widgets/obligee_widget_input.html" %}
    {% endwith %}
  </div>
  <div class="chv-obligee-widget-buttons">
    <button class="btn btn-default chv-obligee-widget-add">
      <i class="chv-icon chv-icon-lg icon-plus"></i>
      &nbsp;
      {% trans 'obligees:obligee_widget:add' %}
    </button>
  </div>
</div>
