{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load no from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- input_attrs: {string -> string}
 %  -- obligee: chcemvediet.apps.obligees.models.Obligee | None
 %  -- allow_delete: boolean
 %
{% endcomment %}


<div class="chv-obligee-widget-input">
  <div class="input-group">
    <input {% for k, v in input_attrs.items %}{{ k }}="{{ v }}" {% endfor %}/>
    <span class="input-group-addon">
      <i class="chv-icon icon-search"></i>
    </span>
    {% if allow_delete %}
      <span class="input-group-addon">
        <button class="close chv-obligee-widget-del">&times;</button>
      </span>
    {% endif %}
  </div>
  <div class="chv-obligee-widget-details {{ obligee|no:"chv-obligee-widget-hide"}}">
    <span class="chv-obligee-widget-street">{{ obligee.street }}</span><br>
    <span class="chv-obligee-widget-zip">{{ obligee.zip }}</span>
    <span class="chv-obligee-widget-city">{{ obligee.city }}</span><br>
    {% trans 'obligees:obligee_widget:email' %}:
    <span class="chv-obligee-widget-email">{{ obligee.emails }}</span>
    <span class="chv-obligee-widget-no-email">
      {% trans 'obligees:obligee_widget:no_email' %}
      <span class="pln-with-tooltip" data-toggle="tooltip" data-placement="right"
            title="{% spaceless %}
              {% include "obligees/texts/widget_no_email.txt" %}
              {% endspaceless %}">
        <span class="chv-icon-stack chv-icon-lg">
          <i class="chv-icon icon-circle chv-color-blue-ll"></i>
          <i class="chv-icon chv-icon-inv chv-icon-half icon-help"></i>
        </span>
      </span>
    </span>
  </div>
</div>
